{% extends "layout.html" %}
  
{% block title %}Project Description{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}

<main class="theme-project">
  
  <div class="custome-container">

                       
                            <div class="image">
                                <img src="https://static.igem.wiki/teams/4372/wiki/description-page.svg" style="width:100%;">
                            </div>
                       
  </div>
</main>



{% endblock %}
