
{% extends "layout.html" %}
  
{% block title %}Education{% endblock %}
{% block lead %}Expand upon your Silver medal work for Proposed Implementation and develop a proof of concept for your project.{% endblock %}

{% block page_content %}


<main class="theme-project">
  <div class="custome-container">
    <div class="row">
      <div class="sidebar">
        <div class="nav-bar-description" id="contents">
          <ul>
            <li>
              <span><div></div></span><a href="#education">Education</a>
            </li>
            <li>
              <span><div></div></span><a href="#outreach">Outreach</a>
            </li>
          </ul>
        </div>
      </div>
       <div class="content">
                        <article>
                            <h1 id="education">Education</h1>
                            <p>
                              Understanding where we can create the most significant qualitative impact

                             <br> An important quality of good education is bridging the information asymmetry gap created due to lack of access. With that in mind, we looked towards disseminating essential knowledge about ABR to the ones with the least access to resources. 
                                                          </p>
                            <p>

                              Our educational sessions at government schools and shelters in Vellore centred around lab safety antibiotic usage, resistance, and efforts to combat it. This knowledge was hard for underserved children to come by themselves, and their engagement in the issue ensures that their learnings carry forward to their communities.
                            </p>
                            <div class="image">
                              <img src="https://static.igem.wiki/teams/4372/wiki/awardsedu.jpeg">
                              <p>William Matriculation Higher Secondary School, Vellore
                              </p>
                            </div>
                            <p>Prioritising the most important stakeholders, we reached out to farmers to gauge their awareness of antibiotics and educated them about how antibiotics enter the food chain and harm human health. The ways in which they could play their part in combating ABR was a significant takeaway for them. As they are directly involved with this issue, raising awareness was critical in involving them in the fight against antibiotic resistance. 
                            </p>
                            <p>
                              As education is most effective when learnt in one’s mother tongue, we took special care to impart education in the farmers’ and the children’s native language, We made sure to deliver lucid explanations of scientific and technical terms in Tamil and also prepared charts in Tamil to communicate in a wholesome way.
                            </p>
                            <hr>
                            <h1 id="outreach">Outreach</h1>
                            <p>
                              Outreach is effective only when it is diverse and holistic in nature. It must be informative, but at the same time provide space for the audience to speak. 
<br>
                              In the same way, we conducted a comprehensive survey encompassing people from all age groups and income levels to gather how much the layman knows about the gripping issue of ABR.
                              <br>
                              To reach different kinds of audiences with our message, we held a caricature-making competition, that attracted the attention of numerous students and gave them a platform to discuss their awareness of ABR through art.
                                
                            </p>
                            <div class="image">
                              <img style="width:70%;"src="https://static.igem.wiki/teams/4372/wiki/igem-caricature.jpeg">
                              
                            <p>
                              We acknowledge that research is not always without risk. Understanding that it is a double-edged sword, and addressing the ethics behind projects like ours to make synthetic biology transparent to the masses is a step towards developing trust in research. Hence, we conducted an open forum discussion for students of other disciplines and dwelled into the ethical facets of synthetic biology. 
                              
                            </p>
                           
                            
                        </article>
    </div>
  </div>
</main>

{% endblock %}
