{% extends "layout.html" %}
  
{% block title %}Human Practices{% endblock %}
{% block lead %}We ask every team to think deeply and creatively about whether their project is responsible and good for the world. Consider how the world affects your work and how your work affects the world.{% endblock %}

{% block page_content %}

<main class="theme-project">
  <div class="custome-container">
    <div class="row">
      <div class="sidebar">
      <div class="nav-bar-description" id="contents">
        <ul>
          <li>
            <span><div></div></span><a href="#motivation">Motivation</a>
          </li>
          <li>
            <span><div></div></span><a href="#Problem">Problem</a>
          </li>
          <li>
            <span><div></div></span><a href="#stratgies">Strategies</a>
          </li>
          <li>
            <span><div></div></span><a href="#framework">Framework</a>
          </li>
          <li>

          <li>
            <span><div></div></span><a href="#References">References</a>
          </li>
        </ul>
      </div>
      </div>
       <div class="content">
                        <article>
                            <h1 id="motivation">What is our motivation?</h1>
                            <p>
                              AMR is a Medical Climate Crisis. It plays a major role in public health in terms of mortality and economic loss. By some estimates, it causes at least 700,000 deaths a year and reports suggest if no action is taken will kill an extra 10 million people a year worldwide by 2050. AMR requires a multipronged approach that operates across the SDGs, involving many stakeholders. How do we as biotechnologist make a difference before it turns into a global crisis?
                              <p>
                                In 2019, team iGEM VIT had worked on ARM’D UP, a phage based solution to combat ABR. We wanted to work on devising a better solution to combat ABR in this edition of iGEM.  As a team we come from a wide range of disciplines such as biological engineering, microbiology, environmental biotechnology, bioinformatics, mathematical modelling, economics and art & design. We are brought together by our common goal to understand and mitigate the transmission of antimicrobial resistance through via the food chain by understanding the problem at a grassroot level. Thus, deriving inspiration from our predecessors, we decided to combat the same problem albeit with a vastly different, enzyme based approach that was efficient and accessible to the primary stakeholders-primarily farmers, cattle rearers and others in agriculture related vocations. 
                            <hr>
                              <h1 id="Problem">Gravity of the problem</h1>
                            <p>
                              Manure – once regarded as black gold to farmers as a source of nutrients for crops have been proved to be a potent source of pathogens and antibiotics that might be taken up by the crops. AMR is in fact widely transmitted via the food chain through animal–human–environment interface making it a major food safety concern, and more awareness and innovation is needed to efficiently reduce and prevent it from farm to fork.                            </p>
                            <p>
                                <ul>
                                  <li>India has one of the highest rates of resistance to antimicrobial agents used both in humans and food animals. With its large domestic drug industry and injudicious use of antimicrobials in animal rearing and lack of awareness on the issue are key drivers of resistance, making India a hotspot for AMR. The major antibiotic used in the cattle industry is tetracycline.


                                    </li><li>Many classes of antimicrobials that are used for humans are also being used in farm animals. Most of the veterinary antibiotics are water soluble and are not fully absorbed by animals.  The environment, such as soil and water bodies, have also reported the presence of unmetabolized antibiotics. Studies conducted in – have shown that antibiotic-laced manure appears to be the dominating pathway for the release of antibiotics in the terrestrial environment However, there is lack of data about the contributors to the AMR life cycle that have been pointed out in other countries. 

                                    
                                    </li><li>Specific socio-economic and cultural factors prevalent in India, such as poverty, illiteracy, overcrowding and malnutrition makes the solution we come up with to tackle resistance more challenging, unique to our country and multi-faceted.

                                    
                                </ul>
                            </p>
                            <hr>
                            <h1 id="stratgies">Current strategies:</h1>
                            <p>
                              <ul>
                                <li>As part of the ‘National Programme for Containment of AMR’ (2012–2017), a laboratory based surveillance system was established to generate quality data and promoting AMR activities, research and innovations. In 2017, the National Action Plan on Antimicrobial Resistance (NAP-AMR) 2017–2021, outlined the various challenges that need to be tackled to manage ABR.

                                </li><li>Although there Antimicrobial stewardship programme, there is a lack of a nationally scaled study indicating the presence of ABR across animal systems.
                                  
                                </li><li>The fact remains that India also does not have a stringently framed and implemented regulatory framework to limit the use of antibiotics in livestock animals. The lack of regulations is particularly glaring when it comes to use of antimicrobials for non-therapeutic purposes, like growth promotion especially in poultry,which is a potential cause of AMR at the farm level.
                                </li></ul>
                            </p>
                            <hr>
                            <h1 id="Solution">How is our solution different from existing solutions? 
                            </h1>
                            <p>
                              In the soil environment, antibiotics may be subject to different abiotic and/or biotic processes, including transformation/degradation. Various available degradation studoes show that oxytetracycline can take between 33- 120 days to degrade depending on factors like soil microorganisms, but also, to a large extent, on the properties of soil, i.e., organic matter content, pH, moisture, temperature, oxygen status, and soil texture. However, currently no products exist in the market that employ enzyme-engineered solutions in order to alleviate this problem.

                            </p>
                            <p>
                              Previously Team iGEM IISER Tirupati worked on their solution to genetically engineered bacteria Coli Kaze would reduce the excessive efflux of antibiotics that are present in animal waste. Drawing inspiration from their approach and speaking to their team members --, we addressed the challenges they faced with their solution. The USP of our project lies in increasing the efficiency as well as specificity towards cattle-care drugs such as oxytetracycline keeping in mind the India scenario of ABR. In terms of safety, we opted to express the enzyme and sell it as a readymade spray to avoid genetic contamination. 

                            </p>
                            <hr>
                            <h1 id="framework">Framework</h1>
                            <p>
                              <ul>
                                <br><li><strong>Propose our solution:</strong> <br>
                                  From the human perspective, the first question we had to answer was what was the major antibiotic used in India? To assess the ground reality of ABR especially with respect to veterinary care and agriculture, we decided to speak to the following individuals:
                                 <p>
                                  Dr Shivraj Murag is the HoD, Dept of Microbiology, Institute of Animal Health and Veterinary Biologicals, Bangalore specialising in antibiotic sensitivity. He provided us with valuable insight and perspective of on consumption of antibiotics by livestock, dosage regimens and insight into the harmonisation and standardisation of reporting data on veterinary antimicrobial consumption.
                                </p><p>
                                  The cardinal rule of appropriate antimicrobial use is to use the right drug, dose, and dosing interval to achieve a sufficient concentration of the antimicrobial at the site of infection. However, in reality we see veterinarian simply choose the antimicrobial with the broadest spectrum with varying dosage prescriptions of treating doctors, often also stemming from miscommunication. Oxytetracycline (OTC) usage is prevalent to treat mastitis (inflammatory reaction of the udder), and unregulated use of it leads to antibiotic resistance and therapeutic infectiveness.
                                </p>
                                <div class="image">
                                  <img src="https://static.igem.wiki/teams/4372/wiki/overview1.png" style="width:55%;">
                                  <p>Label- Interview with Dr Shivraj Murag
                                  </p>
                                  </div>

                                <p>
                                  The use and misuse of OTC was further reinforced by Dr K R Srihari and Dr Vrinda, veterinarians based in Katpadi, India. OTC is known as a golden drug used in higher doses in cattle to treat diseases like anaplasmosis and mastitis. Several farmers do not complete the antibiotic course and stop administering the dose once the symptoms vanish. Often, they procure antibiotics solely for growth promotion, without any other underlying cause.
                                  </p>
                                 
                                
                                </li>
                                <hr>
                                <li><strong>Test before we invest:</strong><br>
                                  There are several questions that had to answered to determine the need of our solution - Does manure (cow dung) in India contain antibiotics and in what quantity? In what manner can polluted manure/ dung be a source of ABR? Do plant take up antibiotics or do they have a barrier to prevent them from doing so?
                                  <p>
                                  To answer these questions, we turned towards experts from Antibiotic concentrations in soil matrices have ranged from a few nanograms to milligrams per kg of soil. However, even very low concentrations of antibiotics in the soil [below the MIC], creates conditions for genetic changes in bacterial genomes and transfer of ARGs and associated mobile genetic elements.
                                </p><p>
                                  This formed the basis of our project. Based on initial literature review and the feedback we received we formed our initial value proposition to worked on an enzyme based solution to combat ABR, we first decided to assess the suitability of Glutathione S Transferase (GST) to degrade tetracycline. On discussion from our PI, <strong>Dr Gothandam K M and Dr. Siva and research scholars Mr Gomathinayagam S and Mr Madhav</strong> the feasibility, ethical safety and sustainability of using GST to degrade tetR were revaluated.
                                </p>
                                <div class="image">
                                  <img src="https://static.igem.wiki/teams/4372/wiki/overview2.png" style="width:55%;">
                                </div></li>
                                <hr>
                                <li><strong>Feedback and adaptation: </strong><br>
                                  These suggestions lead to modification of the enzyme to small laccase (SLAC) to degrade tetR in cow dung, a better solution yet novel approach due to existing literature that illustrates knowledge gaps with its research that could be targeted. We revisited the question of feasibility, effeciancy, ethical safety, stability of degraded tetR compound and sustainability to find that SLAC from Streptomyces coelicolor had the potential of showing greater activity and increased efficiency in our application.<br>
                                  <p><strong>Expert consultation</strong><br>
                                  We validated our approach with Dr. Deepti Yadav from Durban University of Technology, South Africa. She is the author of paper titled Secretory expression of recombinant small laccase from Streptomyces coelicolor A3 (2) in Pichia pastoris, that highlights the engineering of SLAC from Streptomyces coelicolor for application in biocatalysis and surface functionalisation. Her valuable inputs were a guide towards starting our dry lab studies as well as determining the feasibility of conducting wet lab studies within the given time frame.
                                </p><p>
                                  Mr. Mayank Sharma, from Syngene gave us valuable insights where we decided to use tac double promoter for enhanced enzyme production, flag tag for purification and ompa signal peptide for extracellular secretion of small laccase.
                                </p></li>
                                <hr><li><strong>Modify based on need</strong><br><br>
                                  <div class="image">
                                    <img src="https://static.igem.wiki/teams/4372/wiki/overview3.png" style="width:55%;">
                                  </div>
                                  Our approach to the iGEM 2022 solution was to combine field measurements, experiments in the lab and mathematical modelling of AMR dynamics in bovine manure to come up with an evidence based solution to mitigate excess tetracycline from cow dung.   	
                                  <p>
                                    We visited Periyaramanthapuram, to interview the village locals and farmers-most of whom also had cattle and poultry as an additional source of income. They use medicines prescribed by the veterinarians from the local government health centre, but do not know that the prescribed medicines are antibiotics. Some of these antibiotics are used regularly, while others are used after consulting the veterinarian. We observed that some antibiotics were used in quantities more than necessary. On pitching Tetonin, the locals were open to trying it out if it reduced the frequency of illness in their cows. 
                                  </p>
                                  
                                  <p>
                            
                                  
                                    The visit to a farm in Agara Village gave us valuable inputs regarding the applicability of our end product – Tetonin. Although farmers find it difficult to understand the gravity of the problem unless it directly affects them in their day to day life, speaking in length about the consequences makes them care about the cause. Therefore, awareness and education plays a crucial role in the success of our product. 
                                  </p><p>
                                    Speaking to the end users – ie farmers made us understand a big aspect of our business model which is that the strongest motivations for farmers to adopt sustainable practices is perceived benefits. This is a challenge as although our product directly affects the wellbeing of the farmer, animals and the community, this may not be seen in terms of productivity or profitability. While the farmers' voluntary nature and environmental preferences play a huge role in adopting our products, providing economic benefits through incentives and schemes is the major way we can ensure short term usage. 
                                  </p></li>
                              </ul>
                            </p>
                          <hr>
                          <hr>
                        </article>

                        <article id="references">
                            <h1 id="References">References</h1>
                            <p><a class="effect-underline" href="https://www.sciencedirect.com/science/article/pii/S1018364719318257">
                                [1] https://www.sciencedirect.com/science/article/pii/S1018364719318257 
                            </a></p>
                            <p><a class="effect-underline" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6563737/">
                                [2] https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6563737/
                            </a> </p>
                            <p><a href="https://www.reactgroup.org/wp-content/uploads/2018/11/Antibiotic_Use_in_Food_Animals_India_LIGHT_2018_web.pdf"class="effect-underline">
                                [3] https://www.reactgroup.org/wpcontent
                            
                        </article>
    </div>
  </div>
</main>




{% endblock %}
