
{% extends "layout.html" %}
  
{% block title %}Integrated Human Practices{% endblock %}
{% block lead %}Describe the improvements your team made of an existing part.{% endblock %}

{% block page_content %}

<main class="theme-project">
  <div class="custome-container">
    <div class="row">
      <div class="sidebar">
      <div class="nav-bar-description" id="contents">
        <ul>
          <li>
            <span><div></div></span><a href="#ihp">Integrated Human Practices</a>
          </li>
          <li>
            <span><div></div></span><a href="#Inspiration">Inspiration</a>
          </li>
          <li>
            <span><div></div></span><a href="#Problem">Problem</a>
          </li>
          <li>
            <span><div></div></span><a href="#conceptualisation">Conceptualisation</a>
          </li>
          <li>
            <span><div></div></span><a href="#refining">Refining</a>
          </li>
          <li>
            <span><div></div></span><a href="#approaching">Approaching Stakeholders</a>
          </li>x  
        </ul>
      </div>
      </div>
       <div class="content">
                        <article>
                          <h1 id="ihp">Integrated Human Practices
                          </h1>
                          <p>
                            Each step in our project was validated after integrating feedback, suggestions and constructives from a diverse plethora of research scholars, professors, alumni and stakeholders. To sum up our entire Integrated Human Practices, we’d like to present a walkthrough of how and where these suggestions were integrated in our project this year.

                          </p>
                            <h1 id="Inspiration"><strong>Inspiration</strong></h1>
                            <p>
                              In 2019, alumni of our university had worked on ARM’D UP, a phage based solution to combat ABR as part of iGEM 2019. We wanted to work on devising a better solution to combat ABR in this edition of iGEM. Thus, deriving inspiration from our predecessors, we decided to combat the same problem albeit with a vastly different, enzyme based approach that was efficient and accessible to the primary stakeholders-primarily farmers, cattle rearers and others in agriculture related vocations.
                            </p>
   
                            <h1 id="Problem"><strong>Understanding the Problem</strong></h1>
                            </h1>
                            <p>
                              To assess the ground reality of ABR especially with respect to veterinary care and agriculture, we decided to speak to the following individuals:
                            </p>
                            <hr>
                            <h1 id="Shivraj">Dr Shivraj Murag
                            </h1>
                            <p>
                              HoD, Dept of Microbiology, Institute of Animal Health and Veterinary Biologicals, Bangalore. 
                              Area of research: antibiotic sensitivity
                                                          </p>

                            <p>
                              <strong>Key pieces of information gleaned:
                              </strong>
                              <ul>
                                <li>Standardisation of antibiotic dosage is absent in veterinary healthcare due to varying opinions of treating doctors, often also stemming from miscommunication. This increases ABR.
                                  </li><li>Antibiotics are expensive, often leading to improper usage.
                                  <li>Oxytetracycline (OTC) usage is prevalent, rendering increasing antibiotic resistance. Often used to treat mastitis.
                                  </li>
                                  <li><strong>Suggested:</strong><ol>
                                    <li>Focusing on removing antibiotics at the source itself (ie in the cow dung) due to its novelty. Preferred enzymatic approach (ie extraction of enzyme followed by treatment) over releasing the controlled enzyme producing recombinant organism in situ.
                                    </li>
                                    <li>Testing the residual effects of the bioconjugate formed between the substrate (cow dung) and the enzyme to ensure greater efficiency of degrading antibiotics at the source.</li>
                                  </ol></li>
                              </ul>
                            </p>
                            <hr>
                            <h1 id="Srihari">Dr K R Srihari

                            </h1>
                            <p>
                              Veterinarian at Vellore Veterinary Hospital

                                                          </p>

                            <p>
                              <strong>Key pieces of information gleaned:
                              </strong>
                              <ul>
                                <li>OTC is a golden drug. There exist cattle diseases like anaplasmosis that can only be cured by OTC, hence its usage cannot be completely stopped as of now.

                                  </li><li>Very commonly used in cattle as it can be given in higher doses [5-10ml per body weight]

                                  <li>It is not directly injected into the udder. Instead, it is given through the IM (intramuscular) route. This is because the udder has Ca2+ ions and can easily coagulate. Hence, dosage is high during mastitis since the infection is pronounced more in the udder.

                                  </li>
                                
                              </ul>
                            </p>
                            <hr>
                            <h1 id="Vrinda">Dr Vrinda</h1>
                            <p>
                              King’s PET Clinic, Vellore

                                                          </p>

                            <p>
                              <strong>Key pieces of information gleaned:
                              </strong>
                              <ul>
                                <li>OTC is a golden drug for cattle


                                  </li><li>Should not be administered to pregnant cows as it crosses the blood brain barrier, but farmers do not pay heed to this. Cattle should not be milked then, but even this goes unheeded.

                                  <li>Several farmers do not complete the antibiotic course and stop administering the dose once the symptoms vanish. Often, they procure antibiotics solely for growth promotion, without any other underlying cause.


                                  </li>
                                
                              </ul>
                            </p>
                            <hr>

                            <h1>Dr Amitava Mukherjee
                            </h1>
                            <p>Senior professor and Director at  Centre for Nanobiotechnology, VIT University, Vellore
                            </p>
                            <p>
                              <strong>Key points of discussion:
                              </strong>
                              <ul>
                                <li>Overview of the problem of Antibiotic pollution



                                  </li><li>Recent efforts in solving the problem


                                  <li>Potential of GMOs to solve the problems



                                  </li>
                                  <li>Limitations</li>
                                
                              </ul>
                            </p>
                            <p><strong>List of question asked with answers:</strong></p>
                            <div class="image">
                              <img src="https://static.igem.wiki/teams/4372/wiki/igemquestionairre.png">
                            </div>
                            <!-- <h1 id="Amitava">Dr Amitava Mukherjee


                            </h1>
                            <p>
                              King’s PET Clinic, Vellore

                                                          </p>

                            <p>
                              <strong>Key pieces of information gleaned:
                              </strong>
                              <ul>
                                <li>OTC is a golden drug for cattle


                                  </li><li>Should not be administered to pregnant cows as it crosses the blood brain barrier, but farmers do not pay heed to this. Cattle should not be milked then, but even this goes unheeded.

                                  <li>Several farmers do not complete the antibiotic course and stop administering the dose once the symptoms vanish. Often, they procure antibiotics solely for growth promotion, without any other underlying cause.


                                  </li>
                                
                              </ul>
                            </p> -->

                            <h1 id="conceptualisation"><strong>Conceptualisation</strong></h1>
                            <p>
                              Based on literature survey and perusal through the work of past iGEM teams who worked on an enzyme based solution to combat ABR, we first decided to assess the suitability of Glutathione S Transferase (GST) to degrade tetracycline. There was a two-fold rationale behind this:
                              <ol>
                                <li>
                                  The GST approach is novel

                                </li>
                                <li>Scope to add value to a field of research that has not been tapped into a lot yet
                                </li>
                              </ol>
                            </p>
                            <p>
                              Initial framework: GST being expressed by a suitable vector, release of this vector with a kill switch in situ to degrade tetracycline, once tetR digested, recombinant cell dies automatically.

<br>To validate this initial skeleton of an idea, we spoke to research scholars and our own PI about the feasibility of the idea:

                            </p>
                            <hr>
                            <h1 id="gomathinayagam">Mr Gomathinayagam S
                            </h1>
                           
                               <a style="text-decoration: none;"href="https://static.igem.wiki/teams/4372/wiki/gomath.pdf">(Curriculum vitae)</a>
                      
                            <p> <strong>Key issues raised:</strong>
                            <ol>
                              <li>Stability of degraded tetR compound. Explored the possibility of the conjugate being temporarily cleaved, reverting back to original form after some time has elapsed. This made us rethink about checking the nature of residual antibiotic activity in the bioconjugate.</li>
<li>Release of enzyme extracellularly is still a probability. Instead suggested we extract the enzyme via cell disruption methods. Also suggested site directed mutagenesis approach if the aforementioned approach did not work.</li>
<li>Safety and sustainability of using GST to degrade tetR-questionable.</li>
                            </ol>
                            </p>
                            <hr>
                            <h1 id="madhav">Mr Madhav</h1>
                            <a style="text-decoration: none;"href="https://static.igem.wiki/teams/4372/wiki/madhav-cv.pdf">(Curriculum vitae)</a>

                            <p>
                              <strong>Key issues raised:</strong>
                              <ol>
                                <li>Efficiency of GST to degrade antibiotics should be known prior to conducting experiments. </li>
<li>Unidirectional degradation of tetR has to be ensured.</li>

                              </ol>
                            </p>
                            <hr>
                            <h1 id="prof">Prof Gothandam K M
                            </h1>
                            <p>
                              <ol>
                                <li>Feasibility of GST is lesser compared to other extensively researched enzymes like laccases</li>
                                <li>Laccase a better option due to existing literature that illustrates knowledge gaps with its research that could be targeted</li>
                                </ol>
                            </p>
                            <p>
                              These suggestions lead us to modify our approach. We thus decided to focus on laccase to degrade tetR in cow dung.
                            </p>
                            <hr>
                            <h1 id="refining"><strong>Refining</strong></h1>

                            <h1>Mr Mayank Sharma</h1>
                            <p><ol>
                              <li>Advantages of different kinds of vectors for industrial production of enzymes</li>
                              <li>The factors to be considered during tag selection for purification of protein(enzyme)</li>
                              <li>Considering incorporation of signal peptides for extracellular secretion</li>
                              </ol></p>
                            <p>The above suggestions helped us to finalise our project design where we decided to use tac double promoter for enhanced enzyme production, flag tag for purification and ompa signal peptide for extracellular secretion of small laccase.
                            </p>
                            <hr>
                            
                            <h1>Dr Deepti Yadav
                            </h1>
                            <p>Author of: Yadav, D., Ranjan, B., Mchunu, N., Le Roes-Hill, M., & Kudanga, T. (2018). Secretory expression of recombinant small laccase from Streptomyces coelicolor A3 (2) in Pichia pastoris. International journal of biological macromolecules, 108, 642-649.a
                            </p>
                            <p>
                              <ol>
                                <li>Small laccase, a novel enzyme that has not be explored</li>
                                <li>Small laccase gene sequence from Streptomyces coelicolor</li>
                                <li>Potential of showing greater activity and increased efficiency in various applications</li>
                                <li>Possibility of enzyme enhancement via site generated mutagenesis</li>
                                </ol>
                            </p>
<hr>
                            <p>Discussing our project with Dr Deepti Yadav reinforced our project’s novelty and feasibility.
                              We got a clearer idea about the dry lab studies to be conducted and the parameters to be considered during the wet lab studies. 
                              </p>
                              <hr>
                            <h1 id="approaching"><strong>Approaching Stakeholders</strong></h1>
                            <p>
                              <strong>Interactions with Farmers at Periyaramanthapuram
                              </strong><br>
                              To survey the customer base for our product Tetonin, we decided to take inputs from various stakeholders. We visited Periyaramanthapuram, a village,  around 40 minutes away from our university to gather inputs and suggestions for our product.
                            </p>
                            <p>At Periyaramanthapuram, we interviewed the village locals and farmers-most of whom also had cattle and poultry as an additional source of income. They use medicines prescribed by the veterinarians from the local government health centre, but do not know that the prescribed medicines are antibiotics. Some of these antibiotics are used regularly, while others are used after consulting the veterinarian. We observed that some antibiotics were used in quantities more than necessary. On pitching Tetonin, the locals were open to trying it out if it helped their cattle fall ill less. They also agreed to help us in our field trials if we planned on doing one.
                            </p>
                            <hr>
                            <h1>Interview with Dr. Jayashri M.A, Professor of Enzymology:
                            </h1>
                            <p>After having a discussion with Dr Jayashri (even though our study was out of her scope of study), she told us that the idea of tackling ABR at its source (through the soil) is a unique and novel idea. She also told us that the proposed implementation of selling the enzyme  as two components (1. Lyophilised enzyme and 2. Buffer for reconstituting the enzyme during application) can be implemented after some further research. 
                            </p>
                            <hr>
                            <h1>Visit to Agriculture Clinic, Vellore
                            </h1>
                            <div class="image">
                              <img src="https://static.igem.wiki/teams/4372/wiki/ihp1.jpeg" style="width:42.5%;">
                            </div>
                            <p>We visited the VIT agriculture clinic. They focus on soil sampling and analysis when farmers complain about soil infertility and low yield. They also act as consultants to farmers and inform them about new developments in seeds and agricultural products. We discussed our idea with the lab technician who works in soil sampling, after a brief discussion she confirmed the fact that farmers exploit antibiotics on their animals and do not follow the proper dosage. 
                            </p>
                            <hr>
                            <hr>
                        </article>

    </div>
  </div>
</main>


{% endblock %}
