{% extends "layout.html" %}
  
{% block title %}Inclusivity{% endblock %}
{% block lead %}Every individual, regardless of background or experience, should have an equal opportunity to engage with scientific knowledge and technological development.{% endblock %}

{% block page_content %}

<main class="theme-project">
  <div class="custome-container">
    <div class="row">
      <div class="sidebar">
        <div class="nav-bar-description" id="contents">
          <ul>
            <li>
              <span><div></div></span><a href="#Inclusivity">Inclusivity</a>
            </li>
            
          </ul>
        </div>
      </div>
       <div class="content">
                        <article>
                            <h1 id="Inclusivity">Inclusivity</h1>
                            <p>
                              Science knows no country, because knowledge belongs to humanity, and is the torch which illuminates the world - Louis Pasteur
<br>
                              With the advent of technology, the functionalities of science have become numerous. Alas, the fraction of people that enjoy the knowledge of these is inconsequential. The concept of inclusivity in science stems from this very concern. How do we, the youth in science, bring the world together, breaching barriers of language, religion or differing school of thought to reap its benefits?
                              <br>
                              With the goal of partaking in this mission of being torchbearers of science by making our research accessible and of use to all, we undertook the following activities:
                                                          </p>
                            
                            <p>
                              <ol>
                                <li><ol>
                                  <li><strong>Embracing Diversity
                                  </strong><br>
                                  Our team composition is a prime example of inclusivity. We have members from diverse backgrounds belonging to various parts of India who speak different tongues. Thereby, just conversing with each other helps gain a lot of perspective on how to cater to the vast population of India. The team includes representatives from various years of study, fostering a healthy working atmosphere centred on everyone providing and receiving constructive criticism on their work.

                                </li>
                                <li><strong>Language</strong>
                                <br>
                                With a country as diverse as India, where over 400 different languages are spoken, we felt it was inadequate to make our work available to the general public exclusively in English. Aside from that, because India is a developing country, around 65% of the population still lives in rural regions with limited access to English.
                                  <br>
                                  To work towards this issue the following work was done:
                              </li><ul>
                                <li>Data collection for the project required us to communicate with stakeholders such as farmers and local veterinarians. We conversed in Tamil, local language of Tamil Nadu  in order to make conversations free of miscommunication and to make the best of every conversation.  </li>
                                <li>Another instance where we were successful in breaching the language barrier was the visit to the Govt. Veterinary Hospital, where our team members effectively interacted with the doctors in their native language Tamil to convey our idea and discuss possible concerns.</li>
                                <li>Awareness program for farmers about ABR was held at Periyaramanthapuram, a village in our vicinity. All content was translated into the regional language Tamil for their effective understanding.</li>
                                <li>We collaborated with IISC Bangalore in their initiative of translating their SynBio manual into various regional languages by scripting the Tamil version.</li>
                                </ul>
                                </ol></li>
                                <li>
                                  <strong>Art:</strong><br>
                                  We realized the power of art in the expression of science and capitalized on this by using it as a medium of sending the message of ABR across. This was implemented as a Caricature Making Competition held in our college on 7th October 2022 where participants were first introduced to Synthetic Biology and were then asked to pen down what their understanding of ABR is in the form of a caricature. By incorporating Warli art into our promo video, we tried to portray a traditional Indian village scene. Our handmade Warli art scenery is the centerpiece of our promo video.
                                  <div class="image">
                                    <img src="https://static.igem.wiki/teams/4372/wiki/awards1.jpeg">
                                    <p>
                                     Fig- Warli art has been used to portray a scenic Indian village. The centre-piece of our promo video.
                                      </p>
                                  </div>
                                </li>
                                <li>
                                  <strong>Including our Culture
                                  </strong><br>
                                  As rightly said, inclusivity begins at one’s own home. Hence we decided to do our bit in showcasing our country’s (India) culture through our project leading toward its inclusivity at a global scale.
<br>To begin with, we chose a problem that the world faces at large and then specifically monitored the Indian scenario, so as to formulate a solution that caters to the various indigenous variations found across the country.
<br>Elements of the Indian artform Warli has been incorporated in the theme design of our promo video and wiki page so as to give it the recognition it deserves.

                                </li>
                              </ol>
                            </p>
                            <hr>
                            
                        </article>
    </div>
  </div>
</main>

{% endblock %}
