{% extends "layout.html" %}

{% block lead %}<b>Welcome to iGEM 2022!</b> Your team has been approved and you are ready to start the iGEM season!{% endblock %}



{% block page_content %}

<!-- 
<svg class="path" width="1295" height="2219" viewBox="0 0 1295 2219" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M647.58 0.664795C798.874 82.4545 1175.23 343.647 983.174 554.25C791.121 764.853 236.893 852.437 127.908 909.935C18.9236 967.433 84.0495 1041.65 84.0495 1041.65C84.0495 1041.65 366.081 1307.61 760.552 1317.77C1155.02 1327.93 1262.28 1357.22 1284.21 1445.47C1306.14 1533.72 1297.5 1611.94 1192.5 1651.39C1087.51 1690.84 479.982 1793.4 333.252 1831.91C149.838 1880.05 -181.768 1981.67 127.908 2086.64C375.649 2170.61 577.582 2209.43 647.58 2218.35" stroke="black" stroke-dasharray="10 10"/>
  </svg>
  
<div class="bubble-flex">
  <div class="bubble-1"></div>
  <div class="text-box">
  <p>  Antibiotics are  widely used for prevention and treatment of  infections and as growth promoters for  livestock.  It is estimated that 75% to 90% of antibiotics given to animals are excreted and are largely unmetabolized (Marshall et al., 2011). These residues enter the environment when they are used as manure for the fields in agricultural countries like India.
  </p>
  </div>
</div>

  
  <div class="bubble-flex">
    <div class="text-box">
    <p>
      Antibiotic concentrations in soil matrices have ranged from a few nanograms to milligrams per kg of soil. However, even very low concentrations of antibiotics in the soil [below the MIC], creates conditions for genetic changes in bacterial genomes and transfer of ARGs and associated mobile genetic elements.
    </p>
    </div>
    <div class="bubble-2"></div>

  </div>



  <div class="bubble-flex">
      <div class="bubble-3"></div>
      <div class="text-box">
        <p>
          This paves a path for the antibiotics to enter the food chain and further lead to antibiotic resistance.
          Resistant genes can result in:
          Making the bacterial pathogen more virulent, delay in the administration of appropriate antimicrobial therapy, toxicity or inadequacy while treating resistant pathogens.
                </p>
        </div>
  </div>



  <div class="bubble-flex">
    <div class="text-box">
      <p>
        Using a novel enzyme, Small Laccase we plan on treating the antibiotic pollution at its source, manure. Treating the maure with the enzyme before using it in the fields is one way of contributing to reducing antibiotic resistance. We have tried to improve the promising enzyme for our cause: Hybrid promoter for enhanced enzyme expression, signal peptide for extracellular secretion, purification tag for efficient enzyme purification, site directed mutagenesis for potential mutants that are suitable for our application.
              </p>
      </div>
    <div class="bubble-4"></div>
</div>


<div class="image" style="border-radius:10px; width: 50%;">
  <img src="https://static.igem.wiki/teams/4372/wiki/home-construct-sequence-canva.png" style="padding-top: 5rem; width:100%;">
<p> Img 1- Our Biobrick</p>
</div>
 -->
 <main class="theme-project">
  <div class="custome-container">
   
      
     
                        
                            <div class="image">
                                <img src="https://static.igem.wiki/teams/4372/wiki/home.png" style="width:100%;">

                                 <div style="display: block;
margin-left: auto;
margin-right: auto;
text-align:center;
padding: 20px;
border-radius: 20px;">
  <iframe title="VIT_Vellore: Combating ABR with 'Tetonin' (2022) - Project Promotion [English]" width="560" height="315" src="https://video.igem.org/videos/embed/582050a6-db8b-4955-aaed-01c46c3edff3" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" style="border-radius: 20px;"></iframe>
  

  </div>
  <h3 style="text-align: center;"> Our Promo Video</h3>
                            </div>
                            
                      
    </div>
   
</main>













{% endblock %}
