
{% extends "layout.html" %}
  
{% block title %}Modelling{% endblock %}
{% block lead %}Describe your parts collection on this page, so the judges can evaluate you for the Best Part Collection award.{% endblock %}

{% block page_content %}

<main class="theme-project">
  <div class="custome-container">
    <div class="row">
      <div class="sidebar">
      <div class="nav-bar-description" id="contents">
        <ul>
          <li>
            <span><div></div></span><a href="#modelling">Modelling</a>
          </li>
          <li>
            <span><div></div></span><a href="#Impact">Impact</a>
          </li>
        </ul>
      </div>
      </div>
       <div class="content">
                        <article>
                            <div class="image">
                                <img src="https://static.igem.wiki/teams/4372/wiki/awardsssssss.png" style="width:100%;">
                            </div>
                        </article>
    </div>
  </div>
</main>


{% endblock %}
