{% extends "layout.html" %}
  
{% block title %}Notebook{% endblock %}
{% block lead %}Document the dates you worked on your project. This should be a detailed account of the work done each day for your project.{% endblock %}

{% block page_content %}
<main class="theme-project">
  <div class="custome-container">
    <div class="row">
      
      
                       
                            <div class="image">
                                <img src="https://static.igem.wiki/teams/4372/wiki/notebook-page.svg" style="width:100%;">
                            </div>
                        
   
  </div>
</main>

{% endblock %}
