{% extends "layout.html" %}
  
{% block title %}Partnership{% endblock %}
{% block lead %}Collaborate throughout the year with at least one other 2022 iGEM team on a set of shared objectives related to both of your projects.{% endblock %}

{% block page_content %}


<main class="theme-project">
  <div class="custome-container">
    <div class="row">
      <div class="sidebar">
        <div class="nav-bar-description" id="contents">
          <ul>
            <li>
              <span><div></div></span><a href="#contribution">Contribution</a>
            </li>


          
          
          </ul>
        </div>
      </div>
       <div class="content">
                        <article>
                            <h1 id="paternships">Partnership with iGEM IISER Bhopal</h1>
                            <div class="image">
                              <img style="width:55%;"src="https://static.igem.wiki/teams/4372/wiki/igem-vit-logo.png">
                            </div>
                            <div class="image">
                              <img style="width:55%;"src="https://static.igem.wiki/teams/4372/wiki/iiserbhopal.png">
                            </div>
                            <p>
                              The Collaborations we undertook as a part of this partnership were:                             </p>
                            <p>
                            <p>
                              <ol>
                                <li><strong> A Handbook on Soil Health: </strong><br>
                                  We prepared a handbook that can be useful to farmers, individuals working in the agricultural sector as well as students. Here we also highlighted our solutions and their novelty. Since both are working in the Agricultural domain, this collaboration added great value to both teams’ projects. 

                                </li>
                                <li><strong>Feedback Panel Discussion: </strong><br>
                                  A collaboration with the intent to generate feedback on project progress. Here, the session was in the format of a panel discussion with a panel comprising Dr Sourav (PI for IISER B), Dr Lavanya(Independent Researcher), Ms Sana Jalili (Human Practices Expert), Dr KM Gothandam (PI for VIT V), Dr Arnold Emerson (Dry Lab Expert). Each presentation was followed by comprehensive feedback from the panellists on various aspects of the project. These valuable insights were taken and implemented to further the projects. Among the important pieces of feedback were a focus on Integrated Human Practices, work done in other countries and an understanding of differences in approach in India vs that in other countries.

                                </li>
                                <div class="image">
                                  <img src="https://static.igem.wiki/teams/4372/wiki/vit-iiser.png">
                                </div>
                                <div class="image">
                                  <img src="https://static.igem.wiki/teams/4372/wiki/vit-iiser-1.png">
                                </div>
                                <div class="image">
                                  <img src="https://static.igem.wiki/teams/4372/wiki/vit-iiser-2.png">
                                </div>

                                <li><strong> Exchange of Survey Data: </strong><br>
                                  We exchanged awareness survey data and forms for the other team to analyse and circulate. Students from their institute took part in our survey, and students from our institute took part in theirs
                                </li>
                              </ol>
                              <div class="image">
                                <img src="https://static.igem.wiki/teams/4372/wiki/vit-igem-team-image.jpg">
                              </div><div class="image">
                                <img src="https://static.igem.wiki/teams/4372/wiki/cer-bhopal-team-photo.jpg">
                              </div>

                            </p>
                           
                            
                        </article>
    </div>
  </div>
</main>

{% endblock %}
