{% extends "layout.html" %}
  
{% block title %}Safety{% endblock %}
{% block lead %}Describe all the safety issues of your project.{% endblock %}

{% block page_content %}


<main class="theme-project">
  <div class="custome-container">
    <div class="row">
      <div class="sidebar">
      <div class="nav-bar-description" id="contents">
        <ul>
          <li>
            <span><div></div></span><a href="#afety">Safety</a>
          </li>
        </ul>
      </div>
      </div>
       <div class="content">
                        <article>
                            <h1 id="afety">Safety</h1>
                            <p>
                              Safety regulations form the backbone of any research undertaking. For our project, we were careful to address all the necessary and adjunct safety protocols and themes. Our laboratories were classified under the biosafety level 1 as per standardized norms and all the organisms used were listed under genetically safe strains (E. coli strain DH5α and E. coli strain BL21(DE3)).                            </p>
                            <p>
                              The enzyme product derived from our biologically designed system was also classified as environmentally safe. We identified the lab risks posed in terms of the organisms, parts, chemicals or any experimental procedures and listed them under human and environmental hazards. All the potentially toxic chemicals were disposed of with utmost care. Our bacterial cultures were treated with 10% bleach solution and decanted along with other plastic and glass wares used in the experiments.             </p>
                           <p>
                               The potential risk of using GMOs was addressed and a work plan was designed accordingly. All in all, we have maintained documentation regarding all the laboratory proceedings and have followed safety handbooks for method guidelines for all the protocols at each step.                             </p>
                          </article>
                          </div>
    </div>
  </div>
</main>


{% endblock %}
