{% extends "layout.html" %}
  
{% block title %}Sustainability{% endblock %}
{% block lead %}Software in iGEM should make synthetic biology based on standard parts easier, faster, better or more accessible to our community.{% endblock %}

{% block page_content %}


<main class="theme-project">
  <div class="custome-container">
    <div class="row">
      <div class="sidebar">
        <div class="nav-bar-description" id="contents">
          <ul>
            <li>
              <span><div></div></span><a href="#Sustainability">Sustainability</a>
            </li>
            <li>
              <span><div></div></span><a href="#how">How?</a>
            </li>

          

          </ul>
        </div>
      </div>
       <div class="content">
                        <article>
                            <h1 id="Sustainability">Sustainability</h1>
                            <p>
                              Sustainable growth and technology is the need of the hour. Recognising this issue and with the motive of contributing to this endeavor, we ensured that our project is centered on sustainability.
<br>
                              The United Nations has proposed 14 Sustainable development goals catering to various domains of need. Our project is in alignment with two of these, namely SDG3 and SDG12.
                                                          </p>
                            <p>
                              <ul><li>
                                <strong>UN SDG3 Good health and wellbeing Target 3.d
                                  </strong>
                                  <div class="image">
                                    <img src="https://static.igem.wiki/teams/4372/wiki/sus-1.png" style="width:40%; border-radius: 15px;">
                                  </div>
                                  <br>Strengthen the capacity of all countries, in particular developing countries, for early warning, risk reduction and management of national and global health risks.

                              </li>
                            <li><strong>
                              UN SDG12 Responsible consumption and production
                              Target 12.4 </strong>
                              <div class="image">
                                <img src="https://static.igem.wiki/teams/4372/wiki/sus-2.png" style="width:40%; border-radius: 15px;">
                              </div>
                              <br>
                              By 2020, achieve the environmentally sound management of chemicals and all wastes throughout their life cycle, in accordance with agreed international frameworks, and significantly reduce their release to air, water and soil in order to minimize their adverse impacts on human health and the environment.
                              </li></ul>
                            </p>
                            <hr>
                            <h1 id="how">How?</h1>
                            <p>
                              Project Hrithi is making progress in eliminating the issue of ABR by producing a genetically modified enzyme that efficiently degrades the antibiotic tetracycline in manure. This achieves the mode of conduit of tetracycline to be interrupted before it enters the food chain and the possibility of biomagnification is eradicated completely. As there is no antibiotic buildup, there is no possibility of developing ABR.

                            </p>
<p>Facets of the project that lead to sustainability are:</p>
                            <ul>
<li>It targets the issue of One Health, which advocates that the health of all living organisms and the environment is interrelated. This research could be a big development in potentially avoiding the outbreak of ABR among all living organisms in the future. Hence it is a sustainable approach.</li>
<li>The GMO being developed in this project will be engineered so as to release its product extracellularly. Hence, there is no necessity to release it into the environment, thereby preventing the potential risk of gene pollution.</li>
<li>Work has been done to genetically modify naturally occurring genes. No new genes have been synthesized, hence no safety concerns are involved in terms of bioethical aspects.</li>
                            </ul>
                           <p>We also plan on using schemes(NABARD and Rashtriya Krishi Vikas Yojana)  put forth by the Indian government so as to make our product affordable to farmers and also make it a sustainable practice for the farmers to use our product.</p>
                            
                           <div class="image">
                            <img src="https://static.igem.wiki/teams/4372/wiki/sus-3.jpg" style="width:40%; border-radius: 15px;">
                          </div>

                        </article>
    </div>
  </div>
</main>

{% endblock %}
