{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}On this page you can introduce your team members, instructors, and advisors.{% endblock %}

{% block page_content %}

<main class="theme-project">
  <div class="custome-container">
    
                        
                            <div class="image">
                                <img src="https://static.igem.wiki/teams/4372/wiki/team-fina-1-min.png" style="width:100%;">
                            </div>
                       
   
  </div>
</main>

{% endblock %}
